.dieu
{
	
}
.d fieldset
{
	height:35%;
	width:50%; 
	border-radius:50px;
	background-color:silver;
}
legend 
{
	 font:130% verdana serif;
	 color:olive;
	 text-align:center;
}
img
{
	border-radius:50px;
	height:40%

}
.paragraphe